marron = #7d6350

.nav-mobile
	display none
	position fixed
	top 0
	height 100%
	z-index 999999
	width 260px
	overflow-x none
	overflow-y auto
	font-family 'Heldustry'
	font-size 15px
	background white
	color marron
	box-shadow 0 0 0 5px marron
	font-size 1.5em
	ul
		list-style-type none
		margin-top 2em
		padding 0
		li
			margin-top 0em
			padding-left 1em
			padding-top 0.2em
			padding-bottom 0.2em
			border-bottom solid marron 0.1em
			a
				&:link
				&:hover
				&:visited
				&:active
					color marron
					text-decoration none
			&:hover
				width 100%
				height 100%
				color white
				background-color marron
				a
					&:link
					&:hover
					&:visited
					&:active
						color white
						text-decoration none	





