<div class="container productos" ng-controller="CarroConfirmacionController">
    <div class="row subcontenido">

          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <div>
                    <p class="bg-info">Su Orden de Compra ha sido procesada.</p>
                </div>

                    <h3>Orden de Compra</h3>
                  <p>
                      Ir al detalle de Compra: &nbsp;&nbsp;&nbsp; 
                <a href="#/pedido/{{idUltimaOrden}}">
                  <h4 class="text-center">{{idUltimaOrden}}</h4>
                </a>


                      <br/>
                  </p> 
              </div>
            </div>
          </div>

    </div>
    <br/><br/>
</div>

