<div class="container productos" ng-controller="CarroController">

  <div class="row">

          <div class="col-sm-12 col-md-12">
     
                <div id="rootwizardCart">
                        <div class="navbar">
                          <div class="navbar-inner">
                            <div class="container">
                        <ul class="nav nav-tabs">
                                <li><a href="#tab1" data-toggle="tab">1. Carro de compra</a></li>
                                <li><a href="#tab2" data-toggle="tab">2. Despacho</a></li>
                                <li><a href="#tab3" data-toggle="tab">3. Pago</a></li>
                        </ul>
                         </div>
                          </div>
                        </div>
<!--                        <div id="bar" class="progress progress-striped active">
                          <div class="bar"></div>
                        </div>-->
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">

                                <table class="table table-bordered table-responsive">
                                    <thead>
                                      <tr class="well">
                                          <th colspan="2" class="text-center">Descripción del producto</th>
                                          <th class="text-center">Precio</th>
                                          <th class="text-center">Cantidad</th>
                                          <th class="text-center">Eliminar</th>
                                          <th class="text-center">Sub-total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <!-- empty cart message -->
                                        <tr ng-hide="cart.getTotalCount() > 0" >
                                            <td class="tdCenter" colspan="6">
                                                Tu carrito está vacío.
                                            </td>
                                        </tr>

                                        <tr ng-repeat="item in cart.items | orderBy:'name'">
                                            <td width="20%">
                                                <img ng-src="/web/m_cart/files/producto/{{item.image}}"
                                                     class="img-circle img-responsive center-block">
                                            </td>
                                            <td width="30%">
                                                {{item.name}}
                                            </td>
                                            <td width="12%">
                                                S/ {{item.price}}
                                            </td>
                                            <td width="12%">
                                                <input style="width:70px;"
                                                    class="input-sm text-center" type="number" 
                                                    ng-model="item.quantity" 
                                                    ng-change="cart.saveItems()" />
                                            </td>
                                            <td width="12%" class="tdCenter" title="remover">
                                                <a href="" ng-click="cart.addItem(item.sku, item.name, item.image, item.price, -10000000)" >
                                                    <div class="img-eliminar img-responsive center-block">

                                                    </div>
                                                </a>
                                            </td>
                                            <td width="14%" class="text-right">
                                                {{item.price * item.quantity | currency:'S/.'}}
                                            </td>
                                        </tr>
                                        <tr class="well">
                                            <td colspan="4"></td>
                                            <td>Sub-total</td>
                                            <td class="text-right">{{cart.getTotalPrice() | currency:'S/.'}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td class="well">Delivery</td>
                                            <td class="text-right well">S/ 10.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td class="well">Total</td>
                                            <td class="text-right well">S/ 100.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 text-right">
                                        <a class="btn button-next">
                                            <span class="glyphicon glyphicon-ok"></span> Comprar Ahora
                                        </a> &nbsp; 
                                        <a href="#/arreglos">Continuar Comprando</a>
                                    </div>
                                </div>

                            </div>
                            
                            
                            <div class="tab-pane" id="tab2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thumbnail small">
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" >

                                                          <div class="form-group">
                                                            <label for="nombre" class="col-sm-5 col-md-5 control-label text-left">
                                                                Nombre o Razón Social*:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7">
                                                                <input type="text" class="form-control input-sm" id="nombre">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="documento" class="col-sm-5 col-md-5 control-label text-left"
                                                                   style="text-align: left;">
                                                                DNI o RUC:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7">
                                                                <input type="text" name="documento" class="form-control input-sm" id="documento">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="direccion" class="col-sm-5 col-md-5 control-label text-left">
                                                                Dirección*:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7">
                                                                <input type="text" class="form-control input-sm" id="direccion">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="distrito" class="col-sm-5 col-md-5 control-label text-left">
                                                                Distrito*:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7">
                                                                <input type="text" class="form-control input-sm" id="distrito">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="razon_compra" class="col-sm-5 col-md-5 control-label text-left">
                                                                Razón de la compra:
                                                            </label>
                                                            <div class="col-sm-7 col-md-7">
                                                                <input type="text" class="form-control input-sm" id="razon_compra">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="despacho_estandar" class="col-sm-5 col-md-5 control-label text-left">
                                                                Despacho estándar*:
                                                            </label>
                                                            <div class="col-sm-87 col-md-7">
                                                                <input type="text" class="form-control input-sm" id="despacho_estandar">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <div class="col-sm-12 col-md-12">
                                                                He leído y acepto las politicas 
                                                                <input type="radio" class="" id="terminos">
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <div class="col-sm-offset-3 col-sm-9 text-right">
                                                                <a href="#/arreglos">Continuar Comprando</a> &nbsp;&nbsp;
                                                                <a href="" class="btn button-next">
                                                                     Continuar <span class="glyphicon glyphicon-arrow-right"></span>
                                                                </a>
                                                            </div>
                                                          </div>
                                                </form>
                                                (*) Estos datos son requeridos
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="thumbnail sin-redondeo small">
                                            Observaciones de despacho:<br/>
                                            Puede indicar información sobre la dirección para facilitar la entrega. Ej: Benavides cruce con Camninos del Inca.
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail sin-redondeo small" id="resumen-cart-despacho">
                                            <table class="table table-responsive">
                                                <tr>
                                                    <td colspan="2">
                                                        <div ng-repeat="item in cart.items | orderBy:'name'">
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <img ng-src="/web/m_cart/files/producto/{{item.image}}"
                                                                         class="img-circle img-responsive center-block">
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <h4>{{item.name}}</h4>
                                                                    <p>Código: 12345</p>
                                                                    <p>Precio: {{item.price}}</p>
                                                                    <br/>
                                                                    <h5>Cantidad: {{item.quantity}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        Total Productos ({{cart.getTotalCount()}})
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="56%">
                                                        Sub Total
                                                    </td>
                                                    <td  width="44%" class="text-right">
                                                        {{cart.getTotalPrice() | currency:'S/.'}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Costo del Despacho
                                                    </td>
                                                    <td class="text-right">
                                                        S/. 15.00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h4><b>Total</b></h4>
                                                    </td>
                                                    <td class="text-right">
                                                        <h4><b>S/. 2000.00</b></h4>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            


                            
                            <div class="tab-pane" id="tab3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="thumbnail small">
                                            <div class="panel-body">
                                                <p>Datos de facturación</p>
                                                <p>Nombre o razón social:</p>
                                                <p>DNI o RUC: </p>
                                                <p>Dirección: </p>
                                                <p>Distrito: </p>
                                                <p>Teléfono: </p>
                                                <p>Email: </p>

                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" ng-model="tipoPago" name="tipoPago" id="optionsRadios1" value="paypal" checked>
                                                        PayPal (Tarjeta de crédito)
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" ng-model="tipoPago" name="tipoPago" id="optionsRadios2" value="banco">
                                                    Depósito a cuenta o transferencia bancaria
                                                  </label>
                                                </div>

                                                <div class="panel panel-default">
                                                  <div class="panel-heading">Mis pedidos y mis datos son correctos, continuar.</div>
                                                      <div ng-if="tipoPago == 'paypal'" class="panel-body">
                                                        Ustdes puede comprar de forma segura a traves de PayPal...
                                                        <br/><br/>
                                                        <p class="">
                                                            <a 
                                                                class=""
                                                                ng-click="cart.checkout('PayPal')"
                                                                ng-disabled="cart.getTotalCount() < 1" >
                                                                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
                                                            </a>    
                                                        </p>
                                                      </div>
                                                      <div ng-if="tipoPago == 'banco'" class="panel-body">
                                                        <p>BANCO CONTINENTAL</p>
                                                        <p>Cta. cte. No 12232434354354<br/>
                                                        Código interbancario: 011-58.0245454<br/>
                                                        A nombre de Delibouquet S.A.C.</p>
                                                        <br/>
                                                        <a href="" class="btn" role="button">Comprar</a>
                                                      </div>

                                                </div>


                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail sin-redondeo small" id="resumen-cart-pago">
                                            <table class="table table-responsive">
                                                <tr>
                                                    <td colspan="2">
                                                        <div ng-repeat="item in cart.items | orderBy:'name'">
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <img ng-src="/web/m_cart/files/producto/{{item.image}}"
                                                                         class="img-circle img-responsive center-block">
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <h4>{{item.name}}</h4>
                                                                    <p>Código: 12345</p>
                                                                    <p>Precio: {{item.price}}</p>
                                                                    <br/>
                                                                    <h5>Cantidad: {{item.quantity}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        Total Productos ({{cart.getTotalCount()}})
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="56%">
                                                        Sub Total
                                                    </td>
                                                    <td  width="44%" class="text-right">
                                                        {{cart.getTotalPrice() | currency:'S/.'}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Costo del Despacho
                                                    </td>
                                                    <td class="text-right">
                                                        S/. 15.00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h4><b>Total</b></h4>
                                                    </td>
                                                    <td class="text-right">
                                                        <h4><b>S/. 2000.00</b></h4>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>


                            </div>
                        </div>	
                </div>
              
          </div>
          
  </div>



</div>

