<div class="contact" id="contact" ng-controller="ContactoController">

		<div class="izq hidden-xs">
			<h2>Ubicación</h2>
			<p class="direccion">Amor Amar Jr. Garcia y Garcia 175<br/>
				Barranco - Lima, Perú</p>
			<h2>Informes</h2>	
			<p>Email: informes@delibouquet.pe</p>
		</div>
		<div class="spacer hidden-xs">

			<span> </span>
		</div>
		<div class="der hidden-xs">
			<h2>Pedidos</h2>
			<p>(511)241-8724 / 241 8142
				<br/>&nbsp;</p>
			<h2>Horarios</h2>
			<p>lunes a domingo de 10:00am a 8:00pm</p>
		</div>


 	<div class="centro visible-xs">		
		<h2>Ubicación</h2>
		<div class="direccion">Amor Amar Jr. Garcia y Garcia 175<br/>
			Barranco - Lima, Perú</div>
		<h2>Informes</h2>	
		<p>Email: informes@delibouquet.pe</p>

		<h2>Pedidos</h2>
		<p>(511)241-8724 / 241 8142</p>
		<h2>Horarios</h2>
		<p>lunes a domingo de 10:00am a 8:00pm</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>


<script>
  !function ($) {
    $(function(){
	    var $window = $(window).on('resize', function() {
			//alert($("#contact").height())
			$('#map_canvas').height(
				$(window).height() - $('#header').height() - $('#footer').height() - $('#contact').height() - 35
			);
			//google.maps.event.trigger(map, 'resize');
		}).trigger('resize'); //on page load      
  		initialize();
    })
  }(window.jQuery)


function initialize() {
	var myLatlng = new google.maps.LatLng(-12.1443000,-77.0180000);
	var mapOptions = {
		zoom: 16,
		center: myLatlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

	var contentString = '<div id="content">'+
	    '<div id="siteNotice">'+
	    '</div>'+
	   // '<h2 id="firstHeading" class="firstHeading">Maido Mitsuharu</h2>'+
	    '<div id="bodyContent">'+
		'<div class="foto_mapa"></div>' +
	    '<p class="text_map">Amor Amar Jr. Garcia y Garcia 175<br/>' +
		'	Barranco - Lima, Perú <br/>' +
		'	Teléfonos: (511)241-8724 / 241 8142 <br/>' +
		'	Email: <a href="mailto:informes@delibouquet.pe">informes@delibouquet.pe</a> </p>'
	   '</div>'+
	    '</div>';

	var infowindow = new google.maps.InfoWindow({
	    content: contentString
	});


	var image = 'img/amor-amar.png';
	var myLatLng = new google.maps.LatLng(-12.1443000,-77.0180000);
	var beachMarker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		title:"Delibouquet",
		animation: google.maps.Animation.DROP,
		icon: image
	});
  
   
	google.maps.event.addListener(beachMarker, 'click', function() {
		infowindow.open(map,beachMarker);
	});

	//google.maps.event.trigger(map, 'resize');

	var styles = [
	  {
		featureType: "all",
	    stylers: [
	      { hue: "#766452" },
		  {Weight:3.5},
	      { saturation: 0 }
	    ]
	  },{
	    featureType: "road",
	    elementType: "geometry",
	    stylers: [
	      { lightness: 90 },
	      { visibility: "simplified" }
	    ]
	  },{
	    featureType: "road",
	    elementType: "labels",
	    stylers: [
	      { visibility: "on" }
	    ]
	  }
	];

	map.setOptions({styles: styles});


}
//google.maps.event.addDomListener(window, 'load', initialize);
google.maps.event.addDomListener(window, 'resize', initialize);

</script>
