
<div class="contenido" id="contenido" ng-controller="DeliveryController">
	<div class="text2">Sé feliz. Come chocolate</div>
	<div class="row banner" id="banner_delivery">
		
	</div>
</div>

<article class="informacion">
	<h2>Delivery</h2>
	<div>
<p>*NO REALIZAMOS ENVÍOS A PROVINCIAS.SOLO EN LIMA.</P>

<p>Estos horarios pueden variar en fechas especiales pero será con previo aviso.</p>
<ul>
	<li>
		Le sugerimos leer las observaciones de cada producto ya que existen condiciones sobre el horario de ingreso de pedidos.</p>
	</li>
	<li>
		Las entregas se realizarán por ahora sólo en algunos distritos de Lima.
	</li>
	<li>
		Para consultar las tarifas de delivery por distrito pulse aquí.
	</li>
	<li>
		Cuando el envío se haya realizado se le notificará al cliente mediante un mail de confirmación. Y si es un usuario registrado podrá ver en su historial de Compras la confirmación de entrega.
	</li>
	<li>
		Si por algún motivo importante el envío no se pudiera concretar se le notificará al cliente para coordinar una reprogramación del pedido.
	</li>
	<li>
		En caso no se encuentre la persona indicada, se le dejará el presente a una persona mayor de edad que se encuentre en la dirección dada.

	</li>
</ul>

<p>Zonas de reparto Urbanos:</p>
<ul>
	<li>
		Lima Cercado
	</li>
	<li>
		Barranco
	</li>
	<li>
		Jesus Maria
	</li>
	<li>
		La victoria
	</li>
	<li>
		Lince
	</li>
	<li>
		Magdalena del mar
	</li>
	<li>
		Miraflores
	</li>
	<li>
		Pueblo Libre
	</li>
	<li>
		San Isidro
	</li>
	<li>
		San Luis
	</li>
	<li>
		Surco
	</li>
	<li>
		Surquillo
	</li>
	<li>
		San Borja
	</li>
	<li>
		Chorrillos Cercado
	</li>
	<li>
		La Molina
	</li>
	<li>
		Ate Salamanca
	</li>
	<li>
		Santa Anita
	</li>
</ul>

<p>Tarifas Urbanas de envió: S/. 10.00</p>

<p>Zonas de Reparto Periféricas:
*Aun no disponibles. Sírvase llamar al 628-0792 para información de reparto de estas zonas.</p>
<br/><br/>
	
	</div>
</article>
