<div class="layerFondo contenido" ng-controller="LoginController">
	<h3>Iniciar sesión</h3>
	<hr/>

	<div class="row-fluid">
		<div class="info span12">
			<div class="span7 info-seccion">
				<form class="form-horizontal" role="form" >
				  <div class="row">


					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Correo: </label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Clave: </label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default">Ingresar</button>
					    </div>
					  </div>
				  </div>

				</form>
			</div>
			<div class="span5 info-seccion text-center">
				<p>¿Aún no eres usuario de Delibouquet?</p>
				<br/><br/><br/>
				<a href="#/registrarse">Registrate aquí</a>
				<br/>
			</div>
		</div>
	</div>
</div>
