<div class="contenido" id="contenido" ng-controller="MainController">
  <div class="row banner" id="banner">

  </div>
</div>
    <!-- Carousel
    ================================================== -->
<script>
      !function ($) {
        $(function(){
          //$('#myCarousel').carousel({interval: 3000})
           $("#banner").backstretch([
                "./img/banner-portada.jpg"
              , "./img/banner-about.jpg"
            ], {duration: 3000, fade: 750});          

          var $window = $(window).on('resize', function() {
            $('#contenido').height(
              $(window).height() - $('#header').height() - $('#footer').height() - 40
            );    
            /*
            $("#banner").backstretch([
                "./img/banner-portada.jpg"
              , "http://dl.dropbox.com/u/515046/www/garfield-interior.jpg"
              , "./img/banner-about.jpg"
            ], {duration: 4000, fade: 750});          
            */
            //$('#banner').data('backstretch').pause();
            $('#banner').data('backstretch').next();


          }).trigger('resize'); //on page load      

        })
      }(window.jQuery)

</script>
