<div class="container productos" ng-controller="ProductosController">

  <div class="row">

    <div class="col-sm-6 col-md-3">

      <ul class="nav nav-pills nav-stacked hidden-xs categoria-lista">
        <li ng-repeat="cate in categorias_producto" 
            ng-class="{'active' : isActiveCate(cate)}">
          <a href="javascript:void(0)" ng-click="loadProductos(cate)" >
              <div class="pull-right" 
                ng-class="{'icono-triangulo' : isActiveCate(cate)}">&nbsp;</div>
            {{cate.descripcion}}
          </a>
        </li>
      </ul>

      <div class="visible-xs" id="select-categoria">
        <select class="form-control"
                ng-options="cate2 as cate2.descripcion for cate2 in categorias_producto" 
                ng-model="selectedCate" ng-change="loadProductos(selectedCate);isActiveCate(selectedCate)">
         </select>

        <br/>
      </div>

    </div>

    <div class="col-sm-6 col-md-9">
      <div class="row">

          <div ng-if="categoriaSelec == null"
              class="col-sm-12 col-md-12 text-center titulo-bar">
            Todos
          </div>
          <div ng-if="categoriaSelec != null"
              class="col-sm-12 col-md-12 text-center titulo-bar">
            {{categoriaSelec.descripcion}}
          </div>


          <div class="col-sm-12 col-md-4" ng-repeat="p in productos" id="item-producto">
            <div class="thumbnail sin-fondo sin-borde">
              <img ng-src="/web/m_cart/files/producto/{{p.imagen}}" alt="img1" class="img-circle img-responsive">
              <div class="caption">
                <h4 class="text-center">{{p.nombre_producto}}</h4>
                <p class="precio">S/ {{p.precio}}</p>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td>
                      <a href="#/detalle-producto/{{p.idproducto}}" role="button"><small>Ver detalle</small></a> 
                    </td>
                    <td class="text-right">
                      <a class="btn btn-xs btn-block" role="button"
                         ng-click="cart.addItem(p.idproducto, p.nombre_producto, p.imagen, p.precio, 1)">
                          <small>+ Agregar a carro</small>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
        
      </div>

    </div>

  </div>



</div>

